In [2]:
import pandas as pd

In [3]:
rowdata = {'电影名称':['红海行动','流浪地球','三体'],
           '打斗镜头':[11,22,33],
           '接吻镜头':[55,44,10],
           '电影类型':['爱情片','动作片','动作片']}

In [4]:
print(rowdata)

{'电影名称': ['红海行动', '流浪地球', '三体'], '打斗镜头': [11, 22, 33], '接吻镜头': [55, 44, 10], '电影类型': ['爱情片', '动作片', '动作片']}

In [5]:
movie_data = pd.DataFrame(rowdata)

In [6]:
movie_data

   电影名称  打斗镜头  接吻镜头 电影类型
0  红海行动    11    55  爱情片
1  流浪地球    22    44  动作片
2    三体    33    10  动作片

In [7]:
movie_data.iloc[:3,1:3]

   打斗镜头  接吻镜头
0    11    55
1    22    44
2    33    10

In [8]:
new_data=[2,30]
print(movie_data.iloc[:3,1:3]-new_data)

   打斗镜头  接吻镜头
0     9    25
1    20    14
2    31   -20

In [9]:
# 分别计算(x1-x2)的平方 (y1-y2)的平方
(movie_data.iloc[:3,1:3]-new_data)**2

   打斗镜头  接吻镜头
0    81   625
1   400   196
2   961   400

In [10]:
#计算欧式距离
dist=list((((movie_data.iloc[:3,1:3]-new_data)**2).sum(1))**0.5)

In [11]:
dist

[26.570660511172846, 24.413111231467404, 36.89173349139343]

In [12]:
# 将距离与电影的标签相对应

In [13]:
dlist_l = pd.DataFrame({'dist':dist,'labels':(movie_data.iloc[:3,3] )})

In [14]:
dlist_l

        dist labels
0  26.570661    爱情片
1  24.413111    动作片
2  36.891733    动作片

In [15]:
#将距离升序排列

In [16]:
dr = dlist_l.sort_values(by='dist')
dr

        dist labels
1  24.413111    动作片
0  26.570661    爱情片
2  36.891733    动作片

In [17]:
# 选取最小的K个点

In [18]:
dr[:2]

        dist labels
1  24.413111    动作片
0  26.570661    爱情片

In [19]:
# 确定前k个点的类别

In [20]:
re = dr.loc[:,'labels'].value_counts()
re

动作片    2
爱情片    1
Name: labels, dtype: int64

In [21]:
#re的结果是递减的，所有数量最多的索引是0

In [22]:
re.index[0]

'动作片'

In [23]:
#结果进行收集

In [24]:
result=[]
result.append(re.index[0])
result

['动作片']

## 2.封装函数

In [25]:
'''
   函数功能：KNN分类器
   参数说明：
        newdata:需要预测的数据集
        dataSet已知分类标签的数据集
        k：距离最小的k个点
    返回：
        result：分类结果
'''

import pandas as pd
def classfy0(newdata,dataSet,k):
    result=[]
    dist=list((((movie_data.iloc[:3,1:3]-new_data)**2).sum(1))**0.5)
    dlist_l = pd.DataFrame({'dist':dist,'labels':(movie_data.iloc[:3,3] )})
    dr = dlist_l.sort_values(by='dist')[:k]
    re = dr.loc[:,'labels'].value_counts()
    result.append(re.index[0])
    return result

In [26]:
newdata = new_data
dataSet = movie_data
k=2
classfy0(newdata,dataSet,k)

['动作片']